.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.angular-univ-container {
  text-align: center;
}

.angular-univ-container img {
  width: 100px; /* Adjust the size as needed */
}

.angular-univ-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.angular-univ-container a {
  color: #007bff;
  text-decoration: none;
}

.angular-univ-container a:hover {
  text-decoration: underline;
}
